:root{
--bg-color:rgba(245, 242, 237, 1);



}
.nav_container{
    display: flex;
    flex-direction: row;
    background-color: ;
    justify-content: space-between;
    height:100px;
  
}

#logo{
    
    height: 15vh;
    width: auto;
    max-height: 100%;
    
    
  }

footer{

    background-color: var(--bg-color);
    bottom:0;
    left:0;
    position:fixed;
    width:100%;
    height:50px
}   

