.nav_container{
    display: flex;
    flex-direction: row;
    background-color: rgba(245, 242, 237, 1);
    justify-content: space-between;
}

#logo{
    
    width: 100px;
    height: auto;
    
}
footer{
    background-color: blue;
    padding: 10px;
    
}   
@media (max-width: 600px) {
  section {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}