@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: var(--body-background-color); 
    color: white;
}

/* Footer */
hr{
    width: 90%;
    color: white;
}

footer {
    color: #333;
    padding: 40px 20px;
}

.footer-grid {
    display: flex;
    justify-content: space-around;
}

.footer-column h3 {
    font-size: 14px;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    font-size: 12px;
}


@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        padding-left: 5%;
        text-align: center;
        height: auto;
    }

    .hero-content {
        padding-bottom: 5vh;
        margin-bottom: 2rem;
    }

    .hero_img {
        width: 80%;
        height: auto;
        padding-bottom: 5vh;
    }

    .cta-button {
        margin-left: 0;
    }

    .navbar-top {
        flex-wrap: wrap;
        height: auto;
        padding: 1rem 2%;
    }

    .navbar-top--section {
        justify-content: center;
        margin: 5px 0;
    }

    .menu {
        top: 60px;
        width: 180px;
    }

    .footer-grid {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        margin-bottom: 20px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .hero {
        padding-left: 3%;
        flex-direction: column;
        align-items: center;
    }

    .hero-content h1 {
        font-size: 1.5rem;
    }

    .hero_img {
        width: 90%;
        padding-bottom: 2rem;
    }

    .cta-button {
        padding: 15px 30px;
        font-size: medium;
        margin-left: 0;
    }

    .logo {
        width: 150px;
    }

    .menu {
        width: 160px;
    }

    #demo-2 input[type=search]:focus {
        width: 100px;
    }

    #demo-2 input[type=search] {
        width: 40px;
    }

    .footer-grid {
        flex-direction: column;
        align-items: center;
    }
}
