/* ---------- Header y Navbar ---------- */
h1{
    font-family: var(--font-Montserrat);
    font-weight: 700;
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
    margin-right: 1rem;
    background-color: var(--color-buttons-nav);
    border: var(--color-buttons-nav) 1px solid;
    border-radius: 10em;
    width: 40px;
    height: 25px;
    padding: 5px;
    justify-content: center;
    padding-left:20px;
}

.hamburger span {
    width: 22px;
    height: 2px;
    background: var(--icons-color);
}
#user_btn{
    cursor: pointer;
}

#user_btn svg{
    padding: 5px;
}

.menu {
    position: absolute;
    top: 70px;
    left: 0;
    background:  #A48C79;
    width: 220px;
    display: none;
    flex-direction: column;
    z-index: 1000;
    transition: all 0.3s ease;
}

.menu li {
    border-bottom: 1px solid white;
}

.menu li a {
    display: block;
    padding: 12px;
    color: white;
    text-decoration: none;
}

#menu-toggle:checked ~ .menu {
    display: flex;
}

/* Searchbar */
input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none; 
}

input[type=search] {
    padding: 9px 0px 9px 32px;
    width: 55px;
    background: var(--color-buttons-nav) url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px var(--color-buttons-nav);
    border-radius: 10em;
    background-position: center;
    transition: all .5s;
}

input[type=search]:focus {
    width: 30px;
    background-color: var(--color-buttons-nav);
    border-color: rgba(157, 131, 111, 1);
    box-shadow: 0 0 5px rgba(157, 131, 111, 1);
}

#demo-2 input[type=search] {
    width: 50px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
}

#demo-2 input[type=search]:hover {
    background-color: var(--color-buttons-nav);
}

#demo-2 input[type=search]:focus {
    background-position: 10px;
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: var(--color-buttons-nav);
    cursor: auto;
}

#demo-2 input:-moz-placeholder {
    color: transparent;
}

#demo-2 input::-webkit-input-placeholder {
    color: transparent;
}

/* Header generic */
header > nav ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header > nav li {
    display: inline-block;
    padding: .5rem;
}

header a {
    color: inherit;
    text-decoration: none;
}

.logo{
    width: 200px;
    height: auto;
}

/* Navbar Top */
.navbar-top {
    color: white;
    display: flex;
    padding: 1rem;
    height: 70px;
}

.navbar-top--section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-top--section:first-child {
    flex-grow: 0;
    text-align: left;
}

.navbar-top--section:last-child {
    flex-grow: 0;
    text-align: right;
}

.navbar-top section {
    text-align: center
}
