@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root{
    --body-background-color:linear-gradient(0deg,rgba(221, 212, 203, 1) 0%, rgba(157, 131, 111, 1) 100%) no-repeat;
    --navbar-background-color:rgba(157, 131, 111, 1);
    --color-buttons-nav: #FBF7F4;
    --icons-color:#A58E7B;
    --h1-size :36;
    --font-Montserrat:'Montserrat';
}