:root{
    --body-background-color:linear-gradient(
        to bottom,
        rgba(157, 131, 111, 1) 0%,
        rgba(239, 236, 230, 1) 50%,
        rgba(157, 131, 111, 1) 100%
    );
    --navbar-background-color:rgba(157, 131, 111, 1);
    --color-buttons-nav: #FBF7F4;
    --icons-color:#A58E7B


}